#location-dropdownItem {
  border-right: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

#location-dropdownItem:hover {
  background-color: #007bff;
  color: aliceblue;
}

#form-container {
  margin-top: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
